[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-spinwheel
Exec=harbour-spinwheel
Name=harbour-spinwheel
# translation example:
# your app name in German locale (de)
Name[de]=harbour-spinwheel

